@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&display=swap");
@import "tailwindcss";

:root {
  font-family: "Manrope", "Segoe UI", system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --header-color: #081351;
}

.bg-header{
  background-color: var(--header-color);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.bg-color {
  background-color: rgba(205, 205, 205, 0.326);
  color: #68a8f1;
}
h1 {
  font-size: 2em;
  line-height: 1.1;
}

@layer utilities {
  .container {
    @apply mx-auto px-4 md:px-26;
  }
}
